DB_HOST=aws-0-us-west-2.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=harness_readonly.gzuzuqxvfjszlfclhcfz
DB_PASSWORD=changeme
DB_SSLROOTCERT=c:/Sports/projects/Betting/betgenius/prod-ca-2021.crt
